* {
    box-sizing: border-box;
    background-color: rgba(57, 43, 50, 0.8);
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgba(57, 43, 50, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    border-radius: 50px;
    width: 500px;
}

#validator-type {
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
    background-color: rgba(57, 43, 50, 0.2);
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(57, 43, 50, 0.2);
}

#infouser {
    background-color: rgba(203, 178, 191, 0.8);
    padding: 10px;
    border-radius: 10px;
}

#validator-type {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(57, 43, 50, 0.2);
}

#submitbtn {
    color: white;
    background-color: rgba(57, 43, 50, 0.2);
    padding: 10px;
    border-radius: 10px;
}

#advice {
    color: white;
    background-color: rgba(57, 43, 50, 0.2);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}