* {
    box-sizing: border-box;
}

body {
    background-image: url("/src/img/minimalist-background-twilight-breeze-digital-art-2k-wallpaper-uhdpaper.com-193@0@e.jpg");
    background-repeat: no-repeat;
}

 main {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    border-radius: 50px;
    border: 2px solid black;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5)
}

#validator-type {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5)
}

h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

#infouser {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
}

.placeholder-color {
    color: white; /* Defina a cor desejada */
  }

#validator-type {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

#submitbtn {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#advice {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}